@model List<DataTables.Mvc.Demo.Models.GridTestModel>
@using DataTables.Mvc.Core

@{
    ViewBag.Title = "Default";
}

<h2>Default</h2>

@Html.GridHtml("testGrid")


@(Html.GridScriptForModel("#testGrid")
    .AddColumn(new Column().Image("/Content/Images/dt.png", new { alt = "{Id}", title = "Test - {Id}" }) .Title("ID"))
    .AddColumn(new Column().DataProperty("Title").Title("Title").Link("Home/Details?id={Id}", "{Title}", null))
    .AddColumn(new Column().DataProperty("Description").Title("Description"))
)