@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Default", "Default")
<br/>
@Html.ActionLink("Complex Data Prop", "ComplexDataProp")
<br/>
@Html.ActionLink("Link", "Link")
<br/>
@Html.ActionLink("Advanced Model", "AdvancedModel")