@model List<DataTables.Mvc.Demo.Models.GridTestModel>
@using DataTables.Mvc.Core

@{
    ViewBag.Title = "Default";
}

<h2>Default</h2>

@Html.GridHtml("testGrid")


@(Html.GridScriptForModel("#testGrid")
    .AddColumn(new Column().DataProperty("Id").Title("ID"))
    .AddColumn(new Column().DataProperty("Title").Title("Title").Link("Home/Details?id={Id}", "{Title}", null))
    .AddColumn(new Column().DataProperty("Description").Title("Description"))
)

@Html.GridHtml("testGrid2")


@(Html.GridScriptForModel("#testGrid2")
    .AddColumn(new Column().DataProperty("Id").Title("ID"))
    .AddColumn(new Column().DataProperty("Title").Title("Title").Link("Home/Details?id={Id}&title={Title}", "{Title} - {Id}", new { data_ajax = "true", data_ajax_confirm = "Are you sure?" }))
    .AddColumn(new Column().DataProperty("Description").Title("Description"))
)