@using DataTables.Mvc.Core
@using SortDirection = DataTables.Mvc.Core.Enum.SortDirection
@model IEnumerable<DataTables.Mvc.Web.Models.TestGridModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@Html.GridHtml("testGrid")

@(Html.GridScriptForModel("#testGrid")
    .AddColumn(new Column().DataProperty("Id").Title("ID"))
    .AddColumn(new Column().DataProperty("Title").Title("Title"))
    .AddColumn(new Column().DataProperty("Description").Title("Description"))
    .AddSorting(1, SortDirection.Desc)
    .Filter(false)
    .ChangePageLength(false)
)