@using DataTables.Mvc.Core
@model string
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@Html.GridHtml("testGrid")

<table id="testGrid">
    <thead></thead>
    <tbody></tbody>
</table>

@( Html.GridScript("#testGrid").AData(Html.Raw(Model).ToString())
       .AddColumn(new Column().DataProperty("Id").Title("ID"))
       .AddColumn(new Column().DataProperty("Title").Title("Title"))
       .AddColumn(new Column().DataProperty("Description").Title("Description").RenderFunction("return testRender(row, val)"))
      )
      
      
<script>
    function testRender(row, val) {
        return row.aData["Id"];
    }
</script>